.head {
    height: 380px;
    background-position: center;
    margin: 0;
}

.album {
    padding: 0;
    margin: 10px
}

.sing-song h3 {
    width: 100%;
    color: white;
    text-align: left;
    margin: 10px;
    margin-top: 20px;
}

.album img {
    width: 40px;
    margin: 0px;


}

#goBackButton {
    position: relative;
    bottom: 0;
    left: 0;
}
.album-img{
    border-radius:10px ;
}

.singerPic {
    margin: 25px 0;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: transparent;
}

.highlight {
    display: flex;
    color: white;
    width: 100%;
}

.highlight-image {
    margin: 10px;
    width: 70px;
}

.highlight-title {
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    color: white;
    background-color: transparent;
    margin: 20px 0 10px 0;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.highlight-artist {
    font-size: 16px;
    background-color: rgba(255, 0, 0, 0);

    font-weight: 400;
    color: rgba(255, 255, 255, 0.515);
    white-space: nowrap;
    /* Prevent text from wrapping to the next line */
    overflow: hidden;
    /* Hide any text that overflows the container */
    text-overflow: ellipsis;
}

.section {
    width: 100%;
}

.album-cover {
    width: 140px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.other-album {
    width: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 10px;
    color: #ffffff;
    margin: 20px 8px;
}

.album-title {
    width: 95%;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.album-artist {
    width: 95%;
    font-size: 17px;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.515);
    overflow: hidden;
    text-overflow: ellipsis;
}

#songNew {
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    margin-top: 10px;
    align-items: center;
}

.section-title {
    margin-top: 30px;
    color: #ffffff;
    width: 100%;
    font-size: 19px;
    margin-left: 10px;
    font-weight: 550
}

.album-divs {
    width: 100%;
    display: flex;
    justify-content: left;
}

.album-divs a {
    text-decoration: none;
}