#playlist {
  padding: 0;
  border-radius: 0px;
}

.sing-song {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sing-song h2 {
  width: 100%;
  color: white;
  margin-left: 20px;
}

.sing-song-img {
  width: 60%;
  margin: 10px;
}

.head {
  width: 100%;
  height: 370px;
  display: flex;
  justify-content: center;
  border-radius: 0px;
  flex-wrap: wrap;
  margin-top:0 ;
}

.album-img {
  max-width: 250px;
  margin:0px 0 20px 0;
}

.album {
  height: 40px;
  color: #ffffff;
  background: transparent;
  max-width: 95%;
  min-width: 95%;
  margin: 0 auto;

  border-radius: 1px;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  transition: .1s;
  font-size: 16px;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.479); */
}

.album img {
  width: 40px;
  margin: 0 20px 0 10px;


}

.album .SongName {
  background-color: transparent;
}

.SongName {
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;

}

.music-div {
  max-width: 70%;
  width: 70%;
  margin-right: 10px;
}

.album .artistName {
  background-color: transparent;

}

.artistName {
  width: 100%;
  margin-right: 5px;
  background-color: transparent;
  white-space: nowrap;
  /* Prevents text from wrapping to the next line */
  overflow: hidden;
  /* Hides any text that overflows the container */
  text-overflow: ellipsis;
  /* Adds an ellipsis ("...") at the end of overflowed text */

}

.duration {
  width: auto;

  color: white;
  font-weight: 500;
  background-color: transparent;
}

#info-about-song {
  width: 90%;
}

.albumName {
  color: white;
  margin: 10px;
  width: 100%;
  white-space: nowrap;
  /* Prevents text from wrapping to the next line */
  overflow: hidden;
  /* Hides any text that overflows the container */
  text-overflow: ellipsis;
}

.artistNAME {
  margin: 10px ;
  font-size: 14px;
  width: 360px;
  white-space: nowrap;
  /* Prevents text from wrapping to the next line */
  overflow: hidden;
  /* Hides any text that overflows the container */
  text-overflow: ellipsis;
  color: rgb(158, 158, 158);
  text-decoration: none;
}

.singer-img {
  width: 100%;

}
#goBackButton{
  width: 0px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  position: relative;
  bottom: -30px;
  right: 60px;
  font-size: 25px;
}